.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100%;
  list-style: none;
  background-color: var(--primary-100);
  will-change: clip-path;
  clip-path: ellipse(100% 0% at 50% 0%);
  transition: clip-path 0.5s cubic-bezier(0.88, 0.51, 0.46, 0.95) 0s;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar nav a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-800);
  text-decoration: none;
  margin: 1rem;
  transform: translateY(25%);
  opacity: 0.1;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.sidebar nav a:nth-child(1) {
  transition-delay: 0.22s;
}
.sidebar nav a:nth-child(2) {
  transition-delay: 0.38s;
}
.sidebar nav a:nth-child(3) {
  transition-delay: 0.46s;
}
.sidebar nav a:nth-child(4) {
  transition-delay: 0.54s;
}

.sidebar .sidebar-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  overflow: hidden;

  & button {
    transition-delay: 0.62s;
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
    opacity: 0.1;
  }

  & button:nth-child(1) {
    transform: translateX(250px);
  }
  & button:nth-child(2) {
    transform: translateX(200px);
  }
}

.sidebar.active {
  clip-path: ellipse(200% 100% at 50% 50%);
}

.sidebar.active nav {
  opacity: 1;
}

.sidebar.active nav a {
  transform: translateY(0px);
  opacity: 1;
}

.sidebar.active .sidebar-footer button {
  transform: translateX(0);
  opacity: 1;
}

.sidebar:not(.active) .sidebar-footer button {
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.sidebar:not(.active) .sidebar-footer button:nth-child(1) {
  transform: translateX(-250px);
}

.sidebar:not(.active) .sidebar-footer button:nth-child(2) {
  transform: translateX(200px);
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
