---
import Github from '../components/Icons/Github.astro';
import LinkedIn from '../components/Icons/LinkedIn.astro';
import TimeLine from '../components/TimeLine/TimeLine.astro';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---

<Layout title="Juanma Ibarzabal Portfolio">
  <main>
    <Container>
      <h1>Buenas, soy Juanma 👋</h1>
      <p>
        Soy un desarrollador web que disfruta creando cosas en la web. Me encanta aprender cosas
        nuevas y compartir lo que sé con los demás.
      </p>

      <div class="social">
        <a href="https://github.com/ibarzabal-jm">
          <Github />
        </a>
        <a href="https://www.linkedin.com/in/juanma-ibarzabal/">
          <LinkedIn />
        </a>
      </div>
    </Container>
    <Container>
      <TimeLine />
    </Container>
    <Container>projects</Container>
    <Container>contact</Container>
  </main>
</Layout>

<style>
  main {
    font-size: 20px;
    line-height: 1.6;
  }

  .social {
    display: flex;
    gap: 1rem;
  }
</style>
