---
import ToggleTheme from "./ToggleTheme/ToggleTheme.astro";
import DownloadCV from "./DownloadCV/DownloadCV.astro";
import Hamburger from "./Hamburger/Hamburger.astro";
import Sidebar from "./Sidebar/Sidebar.astro";
import "./Header.css";

const navItems = [
  { href: "#home", label: "Home" },
  { href: "#experiences", label: "Experiences" },
  { href: "#projects", label: "Projects" },
  { href: "#contact", label: "Contact" },
];
---

<header>
  <div class="header-menu">
    <a href="#home" class="nav-item logo"> Juanma Ibarzabal </a>

    <div class="desktop-menu">
      <nav>
        {
          navItems.slice(1, navItems.length).map((item) => (
            <a href={item.href} class="nav-item">
              {item.label}
            </a>
          ))
        }
      </nav>
      <hr />
      <ToggleTheme />
      <DownloadCV />
    </div>

    <Hamburger />
  </div>

  <Sidebar navItems={navItems} />
</header>

<script src="./header.ts"></script>
