---
import { Icon } from "astro-icon/components";
import "./Footer.css";
---

<footer>
  <div class="footer-content">
    <a
      href="https://github.com/ibarzabal-jm"
      target="_blank"
      rel="noopener noreferrer"
      class="made-with-love"
    >
      Hecho con <Icon name="mdi:heart" /> por @ibarzabal-jm
    </a>
    <a
      href="https://www.linkedin.com/in/juanma-ibarzabal/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Signature of Juanma Ibarzabal"
      class="signature"
    >
      <Icon name="signature" />
    </a>
  </div>
</footer>
